body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	background-color: #1A1A1A;
	color: #EEE;
}

h1 {
	font-size: 33px;
	margin: 0;
	font-weight: normal;
	padding: 0;
}

a {
	color: #FFF;
	text-decoration: underline;
}
a:hover {
	color: #FFAA00;
	text-decoration: underline;
}
.folders, .files {
	list-style: none;
	margin: 0;
	padding: 0;
}

.folders:before, .files:before {
	content: 'Folders:';
	color: #0A0A0A;
	font-size: 25px;
	display: block;
	margin: 10px 0;
	border-bottom: 3px solid #101010;
	padding-bottom: 3px;
}
.files:before {
	content: 'Files:';
}

.folders li, .files li {
	margin: 0 5px 5px 0;
	padding: 0;

	display: inline-block;
	text-align: center;
	min-width: 300px;
	min-height: 50px;
	vertical-align: middle;
	max-height: 480px;

	position: relative;
}
.folders li img, .files li img {
	display: block;
}
.folders li a, .files li a {
	position: relative;
	display: block;
	text-decoration: none;
}
.folders li span, .files li span {
	/*display: none;*/
	display: block;
	opacity: 0.4;
	
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;

	/*white-space: nowrap;*/
	background: #111;
	text-align: center;
	
	padding: 4px;
}
.folders li:hover span, .files li:hover span {
	opacity: 0.9;
}
.folders li a:hover, .files li a:hover {
	color: #FFF;
}

.folders li span.fullsizelink, .files li span.fullsizelink {
	top: auto;
	bottom: 0;
	left: auto;
	right: 0;
	z-index: 3;
	opacity: 0.2;
}
.folders li:hover span.fullsizelink, .files li:hover span.fullsizelink {
	opacity: 0.6;
}
.folders li span.fullsizelink:hover, .files li span.fullsizelink:hover {
	opacity: 0.9;
}
.folders li span.fullsizelink a, .files li span.fullsizelink a {
	/*position: absolute;*/
	display: inline;
}

/* styling of contents from HEADER.html */
.header {
	color: #AAA;
	margin: 10px 0;
	padding: 10px;
	background-color: #222;
}
.header h1 {
	font-size: 18px;
}
.header p {
	margin-bottom: 0;
}
.header a {
	color: #AAA;
}
.header a:hover {
	color: #CCC;
}

select {
	background-color: #222;
	color: #AAA;
	border-color: #444;
}